.pricolor {
  background-color: #8dd3bb;
}
.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #8dd3bb;
  border-color: #8dd3bb;
}

.Loginframe {
  padding: 0 104px;
}
.login-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 512px;
  height: 593px;
  left: 104px;
  top: 204px;
}

.login-title {
  width: 123px;
  height: 51px;

  /* TradeGothic/Bold/40px */

  margin-top: 20%;
}

.login-register {
  margin: 2rem 1rem 0 1rem;
  font-size: 1rem;
}
.login-register-link {
  text-decoration: none;
  cursor: pointer;
  margin-top: 1rem;
  color: rgb(105, 105, 105);
  font-weight: 700;
}
.login-register-link:hover {
  color: #8dd3bb;
}

.login-form {
  max-width: 500px;
  width: 500px;
}
.login-form-forgot {
  float: right;
  color: rgb(105, 105, 105);
}
.login-form-forgot:hover {
  float: right;
  color: #8dd3bb;
}
.ant-col-rtl .login-form-forgot {
  float: left;
}
.login-form-button {
  width: 100%;
  height: 48px;
  background-color: #8dd3bb;
}

.sign-up-navigate {
  margin-top: 16px;
  text-align: center;
}
