.hotel-search {
  padding: 0 104px;
  height: 100%;
}

.price-border-box {
  width: 68px;
  height: 62px;
  background: #FFFFFF;
  border-radius: 8px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flight-into-travel {
  max-height: 100%;
}