.FlightSearchMain2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  padding: 0 104px;
}
.text-main2 {
  padding: 0 24px;
  width: 74%;
  height: 415px;

  /* Mint Green */
  background: #8dd3bb;
  border-radius: 20px;
}
.img-main2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  row-gap: 15px;
  column-gap: 15px;
}
.text-main2-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 70px;
}
.text-main2-head-title {
  /* TradeGothic/Bold/40px */
  font-size: 40px;
}

.text-main2-head-price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
  line-height: 0px;
  width: 68px;
  height: 35px;

  /* Neutrals */

  background: #ffffff;
  border-radius: 8px;
  margin-bottom: 30px;
}
.text-main2-foot {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  gap: 4px;

  width: 92%;
  height: 30px;

  /* Neutrals */

  background: #ffffff;
  border-radius: 4px;
}
.text-main2-foot:hover {
  cursor: pointer;
}
.text-main2-body {
  margin-top: 0;
  margin-bottom: 80px;
  font-size: 14px;
}
