.register-container {
  border-radius: 12px;
  padding: 0 104px;

  width: 100%;

  text-align: center;
}

.register-title {
  font-weight: 700;
  font-size: 1.5rem;
}
.register-error {
  margin-top: 1rem;
  align-self: center;
  color: rgb(255, 0, 55);
}

.register-form-button {
  width: 100%;
  height: 48px;
  background-color: #8dd3bb;
}
